<!DOCTYPE html>
<html>
<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.css') }}">
</head>
<body>
<div class= container>
  <div class="navbar navbar-default">
      <div class="nav-pages"><a href="/">home</a> </div>
      <div class="nav-pages"><a href="/about/">about</a></div>
      <div class="nav-pages"><a href="/one-word-story/">one word story</a></div>
  </div>
  <div class="row text-center">
    <h1>One Word Story</h1>
    <img src="http://via.placeholder.com/800x600">
  </div>
  <div class="row">
    Above is the most recent version of the game, using a two-layered LSTM. To find out how it was made, follow the <a href="/one_word_story_p1">blog</a>.
  </div>

</div>
</body>
</html>
